accelerate==0.27.2
flash-attn==2.5.7
huggingface-hub==0.22.2
ninja==1.11.1.1
packaging==24.0
peft==0.10.0
sentence-transformers==2.7.0
sentencepiece==0.2.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tokenizers==0.15.2
torch==2.2.2
torchvision==0.17.2
transformers==4.38.1
openai==0.27.4
mteb==1.0.2